<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Images in Repository</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/ocr.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- DataTables CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"
    />
    <!-- DataTables Select Extension CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css"
    />
    <style>
      /* Hide table headers initially */
      #image-table thead {
        display: none;
      }

      /* Custom scrolling class */
      .scrolledTable {
        overflow-y: auto;
        max-height: 500px; /* Adjust the height as needed */
        clear: both;
      }

      /* Notification styles */
      .notification-container {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
        width: 300px;
      }

      .notification {
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        margin-bottom: 10px;
        opacity: 1;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
      }

      .notification.error {
        background-color: #f44336;
      }

      /* Force the select-checkbox column to be narrow */
      #image-table th.select-checkbox,
      #image-table td.select-checkbox {
        width: 30px !important;
        padding: 0;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Rename Images in Repository</h1>
  <p>
    This page allows to rename images in a repository using the metadata in Concentriq and the template naming pattern.
  </p>
    <form id="load-images-form">
      <label for="source_repository_id">Enter Source Repository ID:</label>
      <div id="load-images-button-container">
        <input
          type="text"
          id="source_repository_id"
          name="source_repository_id"
        />
        <button type="button" id="load-images-button" onclick="loadImages()">
          Load Repository
        </button>
        <div class="loader" id="load-images-loader"></div>
      </div>
    </form>
    <div class="dropdown-container">
      <select id="template-dropdown" onchange="loadTemplate()">
        <option value="">Select Template</option>
      </select>
      <button class="settings-button" onclick="goToSettings()">⚙️</button>

      <!-- Return button -->
      <div class="return-container">
        <button onclick="window.location.href='/main';">Main Menu</button>
      </div>
    </div>
    <div id="image-table-container">
      <table id="image-table" class="display">
        <thead>
          <tr>
            <!-- The header cell includes a select-all checkbox and is styled to be narrow -->
            <th class="select-checkbox" style="width: 30px">
              <input type="checkbox" id="select-all" />
            </th>
            <th>Image Name</th>
            <th>Date</th>
            <th>Image ID</th>
            <th>Image Label</th>
            <!-- Metadata columns will be dynamically inserted here -->
          </tr>
        </thead>
        <tbody>
          <!-- Image rows will be dynamically inserted here -->
        </tbody>
      </table>
    </div>
    <div id="update-all-button-container" style="display: none">
      <div class="button-container">
        <button
          id="update-all-button"
          class="update-all-button"
          onclick="updateAllImages()"
        >
          Update Image(s) Name
        </button>
        <div class="loader" id="update-all-loader"></div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- DataTables JS -->
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"
    ></script>
    <!-- DataTables Select Extension JS -->
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"
    ></script>
    <script>
      let selectedTemplate = null;
      let updatedImages = new Set();
      let allImagesData = []; // Store all images data
      let dataTable = null; // Store the DataTable instance

      // container for notifications
      const notificationContainer = document.createElement("div");
      notificationContainer.className = "notification-container";
      document.body.appendChild(notificationContainer);

      function showNotification(message, isError = false) {
        const notification = document.createElement("div");
        notification.className = `notification ${isError ? "error" : ""}`;
        notification.innerText = message;
        notificationContainer.appendChild(notification);

      const timeoutDuration = isError ? 6000 : 3000;
      setTimeout(() => {
        notification.style.opacity = '0';
        notification.style.transform = 'translateY(-20px)';
        setTimeout(() => {
          notification.remove();
        }, 500);
      }, timeoutDuration);
    }

    function resetPage() {
      if (dataTable) {
        dataTable.clear().destroy();
        dataTable = null;
      }
      document.getElementById('image-table-container').style.display = 'none';
      document.getElementById('update-all-button-container').style.display = 'none';
      allImagesData = [];
    }


      function loadImages() {
        const sourceRepositoryId = document.getElementById(
          "source_repository_id"
        ).value;
        const selectedTemplateName =
          document.getElementById("template-dropdown").value;
        document.getElementById("load-images-loader").style.display =
          "inline-block";
        document.getElementById("image-table-container").style.display = "none";

        fetch("/load_images_with_metadata", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: `source_repository_id=${sourceRepositoryId}&selected_template=${selectedTemplateName}`,
        })
          .then((response) => response.json())
          .then((data) => {
            allImagesData = data;
            initializeDataTable(data);

            document.getElementById("image-table-container").style.display =
              "block";
            document.getElementById(
              "update-all-button-container"
            ).style.display = "block";
            document.getElementById("load-images-loader").style.display =
              "none";
            document.querySelector("#image-table thead").style.display =
              "table-header-group";

            $("#image-table").wrap("<div class='scrolledTable'></div>");
          })
          .catch((error) => {
            console.error("Error loading images:", error);
            document.getElementById("load-images-loader").style.display =
              "none";
          });
      }

      function initializeDataTable(data) {
        if (dataTable) {
          dataTable.clear().destroy();
        }

        const columns = [
          {
            data: "SelectAll",
            defaultContent: "",
            className: "select-checkbox",
            orderable: false,
          },
          {
            data: "Image Name",
            render: function (data) {
              return data === "! Missing"
                ? `<span class="missing-value">${data}</span>`
                : data;
            },
          },
          {
            data: "Date",
            title: "Date",
            render: function (data, type, row) {
              if (type === "sort") {
                const parts = data.split("-");
                const day = parseInt(parts[0], 10);
                const month = parseInt(parts[1], 10) - 1;
                const year = parseInt(parts[2], 10);
                return new Date(year, month, day).getTime();
              }
              return data;
            },
          },
          { data: "Image ID" },
          {
            data: "Label URL",
            orderable: false,
            render: function (data) {
              return data === "! Missing"
                ? `<span class="missing-value">${data}</span>`
                : `<div class="resizable-img"><img data-src="${data}" alt="Image Label" class="image-label lazy" src=""></div>`;
            },
          },
          // Add dynamic metadata columns
          ...Object.keys(
            (selectedTemplate && selectedTemplate.metadata) || {}
          ).map((fieldId) => {
            const fieldName = selectedTemplate.metadata[fieldId].name;
            return {
              data: fieldName,
              title: fieldName,
              render: function (data) {
                return data === "! Missing"
                  ? `<span class="missing-value">${data}</span>`
                  : data;
              },
            };
          }),
        ];

        dataTable = $("#image-table").DataTable({
          data: data,
          columns: columns,
          paging: true,
          pageLength: 10,
          lengthChange: true,
          searching: true,
          dom: '<"top"f>rt<"bottom"lp><"clear">',
          order: [[1, "asc"]],
          select: {
            style: "multi",
            selector: "td.select-checkbox",
          },
          drawCallback: function () {
            lazyLoadImages();
          },
        });

        $("#select-all")
          .off("click")
          .on("click", function () {
            if (this.checked) {
              dataTable.rows({ search: "applied" }).select();
            } else {
              dataTable.rows({ search: "applied" }).deselect();
            }
          });


      dataTable.on('select deselect', function () {
        const allRows = dataTable.rows({ search: 'applied' }).nodes().length;
        const selectedRows = dataTable.rows({ selected: true, search: 'applied' }).nodes().length;
        $('#select-all').prop('checked', allRows === selectedRows && allRows > 0);
      });
      
      // Scroll to the top of the table when changing pages
      dataTable.on('page.dt', function () {
        $('.scrolledTable').animate({
            scrollTop: 0
        }, 200);
      });
    }

      function updateAllImages() {
        const selectedData = dataTable
          .rows({ selected: true })
          .data()
          .toArray();
        const selectedImages = selectedData.map((row) => row["Image ID"]);
        const updateAllLoader = document.getElementById("update-all-loader");
        updateAllLoader.style.display = "inline-block";

        let completedUpdates = 0;
        if (selectedImages.length === 0) {
          updateAllLoader.style.display = "none";
          return;
        }

        selectedImages.forEach((imageId) => {
          if (!updatedImages.has(imageId)) {
            updateImageName(imageId, () => {
              completedUpdates++;
              if (completedUpdates === selectedImages.length) {
                updateAllLoader.style.display = "none";
              }
            });
          } else {
            completedUpdates++;
            if (completedUpdates === selectedImages.length) {
              updateAllLoader.style.display = "none";
            }
          }
        });
      }

      function lazyLoadImages() {
        $("#image-table tbody img.lazy").each(function () {
          var img = $(this);
          if (!img.attr("src")) {
            img.attr("src", img.data("src"));
            img.removeClass("lazy");
          }
        });
      }

      function updateImageName(imageId, callback) {
        const namingPattern = selectedTemplate.naming_pattern;
        let newImageName = namingPattern;
        let isMissingMetadata = false;

        Object.keys(selectedTemplate.metadata).forEach((fieldId) => {
          const fieldName = selectedTemplate.metadata[fieldId].name;
          const placeholder = `[${fieldName}]`;
          const fieldValue =
            allImagesData.find((image) => image["Image ID"] === imageId)[
              fieldName
            ] || "";
          if (fieldValue === "! Missing") {
            isMissingMetadata = true;
          }
          newImageName = newImageName.replace(placeholder, fieldValue);
        });
        newImageName = newImageName.trim();

        if (isMissingMetadata) {
          showNotification(
            `Failed to update image (${imageId}) name because some metadata is missing.`,
            true
          );
          if (callback) callback();
          return;
        }

        fetch("/update_image_name", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: new URLSearchParams({
            image_id: imageId,
            new_name: newImageName,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.message === "Image name updated successfully") {
              updatedImages.add(imageId);
              updateMainTableWithImageName(imageId, newImageName);
              showNotification(
                `Image (${imageId}) name has been updated to "${newImageName}"`
              );
            } else {
              alert("Failed to update image name.");
            }
            if (callback) callback();
          })
          .catch((error) => {
            console.error("Error updating image name:", error);
            alert("Failed to update image name.");
            if (callback) callback();
          });
      }

      function updateMainTableWithImageName(imageId, newImageName) {
        $("#image-table tbody tr").each(function () {
          const $row = $(this);
          if ($row.find("td:nth-child(4)").text().trim() === imageId) {
            $row.find("td:nth-child(2)").text(`${newImageName}.svs`);
          }
        });
      }

    function loadTemplate() {
      const selectedTemplateName = document.getElementById('template-dropdown').value;
      resetPage();
      if (selectedTemplateName) {
        fetch('/get_templates')
          .then(response => response.json())
          .then(data => {
            selectedTemplate = data[selectedTemplateName];
            console.log(`Selected template: ${selectedTemplateName}`, selectedTemplate);
            addMetadataColumnsToTable(selectedTemplate.metadata);
          });
      }
    }

      function addMetadataColumnsToTable(metadata) {
        const thead = document.querySelector("#image-table thead tr");
        document
          .querySelectorAll("#image-table th.metadata-column")
          .forEach((th) => th.remove());
        document
          .querySelectorAll("#image-table td.metadata-column")
          .forEach((td) => td.remove());
        Object.keys(metadata).forEach((fieldId) => {
          const fieldName = metadata[fieldId].name;
          const th = document.createElement("th");
          th.innerText = fieldName;
          th.classList.add("metadata-column");
          thead.appendChild(th);
        });
        if (dataTable) {
          initializeDataTable(allImagesData);
        }
      }

      function populateTemplateDropdown() {
        fetch("/get_templates")
          .then((response) => response.json())
          .then((data) => {
            const dropdown = document.getElementById("template-dropdown");
            let defaultOptionSet = false;
            Object.keys(data).forEach((templateName) => {
              const option = document.createElement("option");
              option.value = templateName;
              option.innerText = templateName;
              dropdown.appendChild(option);
              if (templateName === "Rename" && !defaultOptionSet) {
                option.selected = true;
                defaultOptionSet = true;
              }
            });
            if (defaultOptionSet) {
              loadTemplate();
            }
          });
      }
      function goToSettings() {
        window.location.href = "/settings";
      }

      window.onload = function () {
        populateTemplateDropdown();
        document
          .getElementById("source_repository_id")
          .addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
              event.preventDefault();
              document.getElementById("load-images-button").click();
            }
          });
      };
    </script>
  </body>
</html>
